@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
}

footer {
  position: relative;
  width: 100%;
  background: #1c75bb;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin: 15px 0 10px 0;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 500px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 5s linear infinite forwards;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.6;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave3 {
  z-index: 997;
  opacity: 0.4;
  bottom: 0;
  animation: animateWave 10s linear infinite backwards;
}

footer .wave#wave4 {
  z-index: 998;
  opacity: 0.2;
  bottom: 10px;
  animation: animateWave 4s linear infinite backwards;
}

@keyframes animateWave {
  0% {
    background-position-x: 500px;
  }
  100% {
    background-position-x: 0px;
  }
}
